{% extends 'fuel_tracker/base.html' %}

{% block title %}Add Fuel Up{% endblock %}

{% block main_content %}
    <h1>New Fuel Up</h1>

    <form id="fuel_up_form" method="post" action="{% url 'fuel_up.add' %}">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            <br />
        {% endfor %}

        <input type ="submit" name="submit" value="Add Fuel Up" />
    </form>
{% endblock %}